*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Euclid Circular A',sans-serif;
     font-size: 20px;
    
   
}
h1{
    font-size: 48px;
   
}



.header {
    background-color:#ac9c8d;
    min-height: clamp(50px, 5vw, 100px);
    padding: 10px min(5vw ,360px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:23px;
   

}

.logo{
    font-size:clamp(30px, 5vw, 40px);/*responsib*/
    font-weight: bold;
    color: #610c27;
}






a{  
    text-decoration: none;
     color:black;
     
}
.nav-items{
    /* display:flex; 
    gap:30px;*/
    display:none;
}
.nav-items a:hover{
    text-decoration:underline;
    text-decoration-color: #610c27;

}


main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 50px;
    gap: 20px;
    

}



.main-img img{
    min-width: 400px;
    max-height: 400px;
    border-radius: 50%;    /* Creates a circular image */
    object-fit: cover;    /* Ensures image covers the circle */
    margin-bottom: 20px;
    border: 2px solid white;
}





.hero{
    background-color: #ddd9ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding: 20px;
    height: 100vh;
    padding-bottom: 10px;


}

.hero ~ section{
    height: auto;
    background-color: #efece9;
    

}



p{
    text-align: justify;
}

.personal-info  li{
    list-style-type:none;
}
  

.web-design{
    max-height: 50%;
}
#service-icon {
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
        
        
   
}
.my-services-info h3{
    text-align: center;
    word-wrap: break-word;

}



.web-design:hover{
    border: 1px solid  #ddd9ce;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 10px 10px 10px  #ddd9ce;
}
.c-cpp:hover{
    border: 1px solid  #ddd9ce;;
    padding: 5px;
    box-shadow: 10px 10px 10px  #ddd9ce;
}

.footer{
    background-color:#ac9c8d;
    min-height: clamp(50px, 5vw, 100px);
    padding: 20px;
    

}
.contact-links ul{
    list-style-type: none;
    display: flex;
    gap:10px;
    justify-content: space-evenly;
}
.contact-links a:hover {
  text-decoration: underline;
}
.footer-bottom p{
    font-size: 15px;
    margin: 5px auto;
    text-align: center;
}


.progressbar-container{
    width: 200px;
   height: 15px;
   background-color:white;
   border-radius: 15px;
}

.progressbar{
   height:100%;
   border-radius: 15px;
   
   animation: progress 5s ease forwards;
}

@keyframes progress {
    0% {
        width: 0%;
        background-color:#610c27;
    }


    95% {
        width: 95%;
        background-color:#610c27;
    }

    100% {
        width: 95%;
        background-color:#610c27;
    }
}





@media (min-width: 601px) {

    .nav-items{
        display:flex; 
        gap:30px;
        
    }

    .icon{
        display:none;
    }

    .hero ~ section {
    
        display: block; /* Removes flexbox, uses normal flow */
        
        padding: 20px; /* Adds some space around content */
    }

     .contact h1{
       display:flex;
    }


    .my-services-info{
        display: flex;
        gap:20px;
    }
    .services-info {
        display: flex;
        gap:10px;

    }

    .skillbar{
        height:40px;
        display: flex;
        gap:20px;
    }
    

    
}